<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::head}">

    <script src="js\vendor\modernizr-2.8.3.min.js"></script>
</head>
    <body>
            <!-- Add your site or application content here -->

            <!--pos page start-->
            <div class="pos_page">
                <div class="container">
                   <!--pos page inner-->
                    <div class="pos_page_inner">
                       <!--header area -->
                        <div class="header_area">
                            <!--header top-->
                            <div th:replace="~{fragments::header-top}"></div>
                            <!--header top end-->

                            <!--header middel-->
                            <div th:replace="~{fragments::header-middel}"></div>
                            <!--header middel end-->

                            <!--header bottom-->
                            <div th:replace="~{fragments::header-bottom}"></div>
                        </div>
                        <!--header end -->
                         <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                <div class="col-12">
                                    <div class="breadcrumb_content">
                                        <ul>
                                            <li><a href="index.html">home</a></li>
                                            <li><i class="fa fa-angle-right"></i></li>
                                            <li>Shopping Cart</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--breadcrumbs area end-->



                         <!--shopping cart area start -->
                        <div class="shopping_cart_area">

                                <div class="row">
                                    <div class="col-12">
                                        <div th:if="${check}" class="text-center alert-warning">
                                            <p th:text="${check}"></p>
                                        </div>
                                        <div class="table_desc">
                                            <div class="cart_page table-responsive" th:if="${check == null}">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th class="product_remove">Action</th>
                                                        <th class="product_thumb">Image</th>
                                                        <th class="product_name">Product</th>
                                                        <th class="product-price">Price</th>
                                                        <th class="product_quantity">Quantity</th>
                                                        <th class="product_total">Total</th>
                                                    </tr>
                                                    </thead>
                                                    <form th:action="@{/update-cart}" method="post">
                                                        <tbody>
                                                        <tr th:each="cartItem : ${shoppingCart.cartItems}">
                                                            <td class="product_remove">
                                                                <button type="submit" name="action" value="delete"><i class="fa fa-trash-o"></i></button>
                                                                <button type="submit" name="action" value="update"><i class="fa fa-book"></i></button>
                                                            </td>
                                                            <td class="product_thumb"><img th:src="'data:img/jepg;base64,' + ${cartItem.product.image}" alt=""></td>
                                                            <td class="product_name" th:text="${cartItem.product.name}"></td>
                                                            <td class="product-price" th:text=" ${cartItem.unitPrice}+'VNĐ'"></td>
                                                            <td class="product_quantity">
                                                                <input type="hidden" name="id" th:value="${cartItem.product.id}">
<!--                                                                <input min="0" max="100" th:value="${cartItem.quantity}" type="number">-->
                                                                <input type="number" name="quantity" th:value="${cartItem.quantity}"
                                                                       value="1" min="0">
                                                            </td>
                                                            <td class="product_total" th:text=" ${cartItem.unitPrice * cartItem.quantity}+'VNĐ'"></td>
                                                        </tr>
                                                        </tbody>

                                                    </form>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- coupon code area start -->
                            <!--coupon code area start-->
                            <div class="coupon_area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="coupon_code">
                                            <h3>Coupon</h3>
                                            <div class="coupon_inner">
                                                <p>Enter your coupon code if you have one.</p>
                                                <input placeholder="Coupon code" type="text">
                                                <button type="submit">Apply coupon</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6" th:if = "${grandTotal}">
                                        <div class="coupon_code">
                                            <h3>Cart Totals</h3>
                                            <div class="coupon_inner">
                                                <div class="cart_subtotal">
                                                    <p>Tổng tiền</p>
                                                    <p class="cart_amount" th:text = "${grandTotal}+'VNĐ'"></p>
                                                </div>
                                                <div class="cart_subtotal ">
                                                    <p>Ship</p>
                                                    <p class="cart_amount">30.000 VNĐ </p>
                                                </div>

                                                <div class="cart_subtotal">
                                                    <p>Thành tiền</p>
                                                    <p class="cart_amount" th:text="${grandTotal + 30000 } + 'VNĐ'"></p>
                                                </div>
                                                <div class="checkout_btn">
                                                    <a th:href="@{/checkout}"> Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--coupon code area end-->

                        </div>

                        <!--shopping cart area end -->

                    </div>
                    <!--pos page inner end-->
                </div>
            </div>
            <!--pos page end-->

            <!--footer area start-->
            <div th:replace="~{fragments::footer}"></div>
            <!--footer area end-->




		<!-- all js here -->
            <div th:replace="~{fragments::script}"></div>
    </body>
</html>
