<!doctype html>
<head th:replace="~{fragments::head}">

    <script src="js\vendor\modernizr-2.8.3.min.js"></script>
</head>
    <body>
            <!-- Add your site or application content here -->
            
            <!--pos page start-->
            <div class="pos_page">
                <div class="container">
                    <!--pos page inner-->
                    <div class="pos_page_inner">  
                       <!--header area -->
                        <div class="header_area"    >
                            <!--header top-->
                            <div th:replace="~{fragments::header-top}"></div>
                            <!--header top end-->

                            <!--header middel-->
                            <div th:replace="~{fragments::header-middel}"></div>
                            <!--header middel end-->

                            <!--header bottom-->
                            <div th:replace="~{fragments::header-bottom}"></div>
                        </div>
                        <!--header end -->
                         <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                <div class="col-12">
                                    <div class="breadcrumb_content">
                                        <ul>
                                            <li><a th:href="@{/index}">home</a></li>
                                            <li><i class="fa fa-angle-right"></i></li>
                                            <li>checkout</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--breadcrumbs area end-->


                        <!--Checkout page section-->
                        <div class="Checkout_section">

                            <div class="checkout_form">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <form action="#" th:object="${customer}">
                                                <h3>Billing Details</h3>
                                                <div class="row">

                                                    <div class="col-lg-6 mb-30">
                                                        <label>First Name <span>*</span></label>
                                                        <input type="text" th:field="*{firstName}"readonly>
                                                    </div>
                                                    <div class="col-lg-6 mb-30">
                                                        <label>Last Name  <span>*</span></label>
                                                        <input type="text" th:field="*{lastName}"readonly>
                                                    </div>

                                                    <div class="col-lg-6 mb-30">
                                                        <label>Phone<span>*</span></label>
                                                        <input type="text" th:field="*{phoneNumber}" id="phone"
                                                               readonly>

                                                    </div> 
                                                     <div class="col-lg-6 mb-30">
                                                        <label> Email Address <span>*</span></label>
                                                          <input type="text" th:field="*{username}" id="username"
                                                                readonly>
                                                    </div>
                                                    <div class="col-lg-6 mb-30">
                                                        <label>  Address   <span>*</span></label>
                                                        <input type="text"  th:value="${customer.address + ' ' + customer.city + ' ' + customer.country}"
                                                               id="address"  readonly>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="order-notes">
                                                             <label for="order_note">Ghi chú</label>
                                                            <textarea id="order_note" placeholder="Thông tin khác"></textarea>
                                                        </div>    
                                                    </div>     	    	    	    	    	    	    
                                                </div>
                                            </form>    
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <form th:action="@{/add-order}" method="post" th:object="${shoppingCart}">
                                                <h3>Your order</h3> 
                                                <div class="order_table table-responsive mb-30">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody th:each="item : ${shoppingCart.cartItems}">
                                                        <tr>
                                                            <td th:text="${item.product.name} + ' (x ' + ${item.quantity} + ') '"></td>
                                                            <td th:text="${item.unitPrice * item.quantity} + 'VNĐ'"></td>
                                                        </tr>
                                                        </tbody>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Cart Subtotal</th>
                                                                <td th:text="${shoppingCart.totalPrice}"></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Shipping</th>
                                                                <td><strong>30000VNĐ</strong></td>
                                                            </tr>
                                                            <tr class="order_total">
                                                                <th>Order Total</th>
                                                                <td><strong th:text="${shoppingCart.totalPrice + 30000}"></strong></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>     
                                                </div>
                                                <div class="payment_method">
                                                   <div class="panel-default">
                                                        <input id="payment_defult" name="check_method" type="radio" data-target="createp_account">
                                                        <label for="payment_defult" data-toggle="collapse" data-target="#collapsedefult" aria-controls="collapsedefult">PayPal <img src="img\visha\papyel.png" alt=""></label>

                                                        <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                                                            <div class="card-body1">
                                                               <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="order_button">
                                                        <button type="submit" >Đặt hàng</button>
                                                    </div>    
                                                </div> 
                                            </form>         
                                        </div>
                                    </div> 
                                </div>        
                        </div>
                        <!--Checkout page section end-->

                    </div>
                    <!--pos page inner end-->
                </div>
            </div>
            <!--pos page end-->

            <!--footer area start-->
            <div th:replace="~{fragments::footer}"></div>
            <!--footer area end-->

            <!-- all js here -->
            <div th:replace="~{fragments::script}"></div>
    </body>
</html>
