<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::head}">

    <script src="js\vendor\modernizr-2.8.3.min.js"></script>
</head>
    <body>
            <!-- Add your site or application content here -->
            
            <!--pos page start-->
            <div class="pos_page">
                <div class="container"> 
                    <!--pos page inner-->
                    <div class="pos_page_inner">  
                       <!--header area -->
                        <div class="header_area">
                            <!--header top-->
                            <div th:replace="~{fragments::header-top}"></div>
                            <!--header top end-->

                            <!--header middel-->
                            <div th:replace="~{fragments::header-middel}"></div>
                            <!--header middel end-->

                            <!--header bottom-->
                            <div th:replace="~{fragments::header-bottom}"></div>
                        </div>
                        <!--header end -->
                         <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                    <div class="col-12">
                                        <div class="breadcrumb_content">
                                            <ul>
                                                <li><a th:href="@{/}">home</a></li>
                                                <li><i class="fa fa-angle-right"></i></li>
                                                <li>login</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!--breadcrumbs area end-->

                       <!-- customer login start -->
                        <div class="customer_login d-flex justify-content-center">
                            <div class="form">
                                <h2>Log In</h2>
                                <div th:if = "${param.error}" class="alert alert-danger text-center">
                                    tài khoản hoặc mật khẩu sai
                                </div>
                                <div th:if = "${param.logout}" class="alert alert-success text-center">
                                   Đăng xuất thành công
                                </div>
                                <form th:action="@{/do-login}" method="post">
                                    <div class="input-form">
                                        <input type="text" placeholder="email" name="username" required>
                                    </div>
                                    <div class="input-form">
                                        <input type="password" placeholder="Password" name="password">
                                    </div>
                                    <div class="input-form">
                                        <input type="submit" value="Log In">
                                    </div>
                                    <div class="input-form">
                                        <p>Do You Already Have An Account ? <a th:href="@{/register}">Sign up now  </a></p>
                                    </div>
                                </form>
                            </div>

                                <!--register area end-->
                                    </div>
                        </div>
                        <!-- customer login end -->

                    </div>
                    <!--pos page inner end-->
                </div> 
            </div>
            <!--pos page end-->
            
            <!--footer area start-->
            <div th:replace="~{fragments::footer}"></div>
            <!--footer area end-->
            
            
            
            
      
		
		<!-- all js here -->
            <div th:replace="~{fragments::script}"></div>
    </body>
</html>
