<!doctype html>
<head th:replace="~{fragments::head}">

  <script src="js\vendor\modernizr-2.8.3.min.js"></script>
</head>
<body>
<!-- Add your site or application content here -->

<!--pos page start-->
<div class="pos_page">
  <div class="container">
    <!--pos page inner-->
    <div class="pos_page_inner">
      <!--header area -->
      <div class="header_area">
        <!--header top-->
        <div th:replace="~{fragments::header-top}"></div>
        <!--header top end-->

        <!--header middel-->
        <div th:replace="~{fragments::header-middel}"></div>
        <!--header middel end-->

        <!--header bottom-->
        <div th:replace="~{fragments::header-bottom}"></div>
      </div>
      <!--header end -->

      <!--breadcrumbs area start-->
      <div class="breadcrumbs_area">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb_content">
              <ul>
                <li><a href="index.html">home</a></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li>my account</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <!--breadcrumbs area end-->

      <!-- Start Maincontent  -->
      <section class="main_content_area">
        <div class="account_dashboard">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <!-- Nav tabs -->
              <div class="dashboard_tab_button">
                <ul role="tablist" class="nav flex-column dashboard-list">
                  <li> <a href="#orders" data-toggle="tab" class="nav-link">Orders</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">

              <!-- Tab panes -->

              <div class="tab-content dashboard_content">
                <div class="tab-pane fade" id="orders">
                  <h3>Orders</h3>
                  <div class="coron_table table-responsive">
                    <table class="table">
                      <thead>
                      <tr>

                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody th:each="order : ${orders}">
                      <tr>
                        <td th:text="${order.orderDate}">[(${order.orderDate})]</td>
                        <td>
                          <span class="success" th:text="${order.orderStatus}">[(${order.orderStatus})]</span>
                        </td>
                        <td th:text="${order.totalPrice + 'VNĐ'}">[(${order.totalPrice})]VNĐ</td>


                        <td>
                          <a th:href="@{/cancel-order/(id = ${order.id})}" class="button-cancel">Hủy</a>
                        </td>
                        </td>
                      </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Maincontent  -->
    </div>
    <!--pos page inner end-->
  </div>
</div>
<!--pos page end-->

<!--footer area start-->
<div th:replace="~{fragments::footer}"></div>
<!--footer area end-->






<!-- all js here -->
<div th:replace="~{fragments::script}"></div>
</body>
</html>
